<html lang="jp">
<head>
  <title>料理のリスト</title>
  <link rel="stylesheet" href="/css/list_dishes.css">
  <link rel="stylesheet" href="/css/servercss.css">
</head>
<body>
  <div class="dishes-page">
    <div class="page-header"><%- include('share_components/header.ejs') %></div>
    <div class="main-page all-dishes">
      <span class="search-bar">
        <input type="text" class="search-input" placeholder="ここに探したい料理の名前を入力してください">
        <img src="/images/icons/searchic.png" alt="ic" class="btn searchic icon">
      </span>
      <div class="grid-dishes">
        <% for(let i = 0; i<5; i++) {%>
          <div class="onedish"　dish_id="<%= dishes[i].dish_id %>">
            <span class="onedish-img-border">
              <img src="<%= dishes[i].dish_image?dishes[i].dish_image: "" %>" alt="img" class="dishes-image">
            </span>
            <span class="onedish-name">
              <p class="dish-name"><%= dishes[i].dish_name ? dishes[i].dish_name: "料理の名前" %></p>
            </span>
            <span class="group-detail-like-rate">
              <a href="#" class="group-infor btn detail">詳細</a>
              <span class="group-infor btn like">
                <img src="/images/icons/heart.png" alt="ic" class="heartic icon">
              </span>
              <span class="group-infor btn rate">
                <p class="dish-rate"><%= dishes[i].dish_rate ? dishes[i].dish_rate: "5.0" %></p>
                <img src="/images/icons/start.png" alt="ic" class="startic icon">
              </span>
            </span>
          </div>
       <% } %>
      </div>
    </div>
    <div class="main-page like-dishes">
      <span class="back-btn-container">
        <span class="back-btn btn"><-- 再</span>
      </span>
      <div class="column-list-dishes">
        <% for(let i=0; i<5; i++) {%>
          <div class="onelikedish" 　dish_id="<%= dishes[i].dish_id %>">
            <span class="likedishese-name-image">
              <span class="onelikedish-img-border">
                <img src="<%= dishes[i].dish_image?dishes[i].dish_image: "" %>" alt="img" class="likedishes-image">
              </span>
              <span class="onelikedish-name">
                <p class="dish-name">
                  <%= dishes[i].dish_name ? dishes[i].dish_name: "料理の名前" %>
                </p>
              </span>
            </span>
            <span class="group-detail-delete">
              <span class="likedishesgroup-btn btn detail">
                <img src="/images/icons/eye.png" alt="ic" class="eyeic icon">
              </span>
              <span class="likedishesgroup-btn btn delete">
                <img src="/images/icons/trash.png" alt="ic" class="trashic icon">
              </span>
            </span>
          </div>
          <% } %>
      </div>
    </div>
  </div>
</body>
<script src="/public/axios.min.js"></script>
<script>
  $(".likedishes-direct-btn").on("click", function(){
    $(".main-page.all-dishes").css("display", "none");
    $(".main-page.like-dishes").css("display", "flex");
  });
  $(".back-btn").on("click", function(){
    $(".main-page.all-dishes").css("display", "flex");
    $(".main-page.like-dishes").css("display", "none");
  });
</script>
</html>